# Acquisition
requests
python-dotenv
twikit

# NLP Core
nltk
spacy
langdetect
emoji

# Sentiment
vaderSentiment
transformers
torch

# Topic Modelling
bertopic
scikit-learn

# Keyword Extraction
scikit-learn

# Progress
tqdm

# Database & Analysis
pandas